# Hacker News
https://news.ycombinator.com/rss
# JavaScript
http://feeds.feedburner.com/dailyjs
https://blog.angularjs.org/feeds/posts/default
http://facebook.github.io/react/feed.xml
# Linux
https://ubuntu-mate.org/rss.xml
https://www.archlinux.org/feeds/news/
http://feeds.feedburner.com/webupd8
# Software
https://ikiwiki.info/news/index.rss ikiwiki
http://newsbeuter.org/releases.rss
http://openbox.org/rss/news/
